<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/Css")
    @Scripts.Render("~/bundles/Js") 
</head>
<body> 
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - Opcomunity Api Test Site</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
